# The connection string to your PostgreSQL database
DATABASE_URL=

# The connection string to your Redis instance
REDIS_URL=

# Cloudflare R2 Account ID
R2_ACCOUNT_ID=

# Cloudflare R2 Access Key ID
R2_ACCESS_KEY_ID=

# Cloudflare R2 Secret Access Key
R2_SECRET_ACCESS_KEY=

# Cloudflare R2 Bucket Name
R2_BUCKET_NAME=
